<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/91808/IdeaProjects/Selenium_Basics"><classes><class name="testNG_Package.basicTestNG"><methods><include name="sample"/><include name="sample2"/></methods></class><class name="testNG_Package.dataProvider_Login"><methods><include name="login"/></methods></class><class name="testNG_Package.dropdownHandling"><methods><include name="dropdownSelection"/></methods></class><class name="testNG_Package.loginValidation"><methods><include name="login"/></methods></class><class name="testNG_Package.parallelExecution_TestNG"><methods><include name="loginChrome"/><include name="loginFirefox"/></methods></class></classes></test></suite>